In [1]:
# !pip install barnum
# !pip install randomname

In [2]:
# dir(barnum),dir(rm)
# barnum.create_city_state_zip(zip_code=None)[1] #Get city name
# print('adjective categories:', randomname.ADJECTIVES) #Print Available adj
# print('noun categories:', randomname.NOUNS) #Print available nouns

In [3]:
# import randomname

# # generate name using all categories
# # name = randomname.get_name()
# # or specify a subset of the categories
# name = randomname.get_name( noun=( 'wine'))
# # # or - you can take a bit more liberty about
# # name = randomname.generate(
# #     'v/fire', 'adj/music_theory', ('n/cats', 'n/food'))

# # # these contain the available groups
# # print('adjective categories:', randomname.ADJECTIVES)
# # print('noun categories:', randomname.NOUNS)

# print(name)

In [4]:
import barnum
import randomname as rm

import pandas as pd
import numpy as np

In [5]:
x={
    "Sales":np.random.randint(500,2000,10000),
    "Product":[rm.get_name( noun=( 'wine')) for i in range (10000)],
   'District':[barnum.create_city_state_zip(zip_code=None)[1] for i in range(10000)],
   'Date':[barnum.create_date() for i in range(10000)]
  }

df=pd.DataFrame(x)
df.head()

   Sales             Product     District                       Date
0    514         aged-chinon  Branchville 2027-05-23 21:34:58.640361
1   1693      spry-champagne   Charleston 2024-03-26 21:34:58.640361
2   1026      local-marsanne        Boise 2023-10-02 21:34:58.640361
3    763  rounded-chardonnay    Pensacola 2027-07-21 21:34:58.640361
4    950    taxonomic-muscat   Round Rock 2024-08-02 21:34:58.640361

In [6]:
df2=df.set_index(pd.DatetimeIndex(df['Date'])).drop('Date',axis=1).sort_index()
df2.head()

                            Sales             Product      District
Date
2022-10-11 21:34:58.671609    571      pointed-arneis        Belton
2022-10-11 21:34:58.671609   1840   dichotomic-muscat      Palatine
2022-10-12 21:34:58.671609   1124       corn-burgundy          Wren
2022-10-14 21:34:58.655987   1854  achromatic-auslese  Bakers Mills
2022-10-14 21:34:58.655987   1122     optimal-chianti       Sanford