In [1]:
import pandas as pd
import re

In [89]:
# 
X="""
city	Name of the city
country	Name of the country
x1	Meal, Inexpensive Restaurant (USD)
x2	Meal for 2 People, Mid-range Restaurant, Three-course (USD)
x3	McMeal at McDonalds (or Equivalent Combo Meal) (USD)
x4	Domestic Beer (0.5 liter draught, in restaurants) (USD)
x5	Imported Beer (0.33 liter bottle, in restaurants) (USD)
x6	Cappuccino (regular, in restaurants) (USD)
x7	Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)
x8	Water (0.33 liter bottle, in restaurants) (USD)
x9	Milk (regular), (1 liter) (USD)
x10	Loaf of Fresh White Bread (500g) (USD)
x11	Rice (white), (1kg) (USD)
x12	Eggs (regular) (12) (USD)
x13	Local Cheese (1kg) (USD)
x14	Chicken Fillets (1kg) (USD)
x15	Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)
x16	Apples (1kg) (USD)
x17	Banana (1kg) (USD)
x18	Oranges (1kg) (USD)
x19	Tomato (1kg) (USD)
x20	Potato (1kg) (USD)
x21	Onion (1kg) (USD)
x22	Lettuce (1 head) (USD)
x23	Water (1.5 liter bottle, at the market) (USD)
x24	Bottle of Wine (Mid-Range, at the market) (USD)
x25	Domestic Beer (0.5 liter bottle, at the market) (USD)
x26	Imported Beer (0.33 liter bottle, at the market) (USD)
x27	Cigarettes 20 Pack (Marlboro) (USD)
x28	One-way Ticket (Local Transport) (USD)
x29	Monthly Pass (Regular Price) (USD)
x30	Taxi Start (Normal Tariff) (USD)
x31	Taxi 1km (Normal Tariff) (USD)
x32	Taxi 1hour Waiting (Normal Tariff) (USD)
x33	Gasoline (1 liter) (USD)
x34	Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)
x35	Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)
x36	Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)
x37	1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)
x38	Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)
x39	Fitness Club, Monthly Fee for 1 Adult (USD)
x40	Tennis Court Rent (1 Hour on Weekend) (USD)
x41	Cinema, International Release, 1 Seat (USD)
x42	Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)
x43	International Primary School, Yearly for 1 Child (USD)
x44	1 Pair of Jeans (Levis 501 Or Similar) (USD)
x45	1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)
x46	1 Pair of Nike Running Shoes (Mid-Range) (USD)
x47	1 Pair of Men Leather Business Shoes (USD)
x48	Apartment (1 bedroom) in City Centre (USD)
x49	Apartment (1 bedroom) Outside of Centre (USD)
x50	Apartment (3 bedrooms) in City Centre (USD)
x51	Apartment (3 bedrooms) Outside of Centre (USD)
x52	Price per Square Meter to Buy Apartment in City Centre (USD)
x53	Price per Square Meter to Buy Apartment Outside of Centre (USD)
x54	Average Monthly Net Salary (After Tax) (USD)
x55	Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate
data_quality	0 if Numbeo considers that more contributors are needed to increase data quality, else 1"""

In [104]:
# split the data
x=re.split("\t",X)
# re.split("\n",x)
y=[re.split("\n",i) for i in x]
# col=[y[i][i] for i in range(len(y))]
# col

In [140]:
col=[] #Sequence for first three character is irregular hence create conditions for same rest auto update
for i,j in enumerate(y):
    if i ==0:
        col.append(y[i][i])
    elif i==1:
        col.append(y[i][1])
    elif i==2:
        pass
        print('this is it',y[i],)
    else:
        col.append(j[0])
#         print(j[0])

col

this is it ['Name of the country', 'x1']

['city',
 'country',
 'Meal, Inexpensive Restaurant (USD)',
 'Meal for 2 People, Mid-range Restaurant, Three-course (USD)',
 'McMeal at McDonalds (or Equivalent Combo Meal) (USD)',
 'Domestic Beer (0.5 liter draught, in restaurants) (USD)',
 'Imported Beer (0.33 liter bottle, in restaurants) (USD)',
 'Cappuccino (regular, in restaurants) (USD)',
 'Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)',
 'Water (0.33 liter bottle, in restaurants) (USD)',
 'Milk (regular), (1 liter) (USD)',
 'Loaf of Fresh White Bread (500g) (USD)',
 'Rice (white), (1kg) (USD)',
 'Eggs (regular) (12) (USD)',
 'Local Cheese (1kg) (USD)',
 'Chicken Fillets (1kg) (USD)',
 'Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)',
 'Apples (1kg) (USD)',
 'Banana (1kg) (USD)',
 'Oranges (1kg) (USD)',
 'Tomato (1kg) (USD)',
 'Potato (1kg) (USD)',
 'Onion (1kg) (USD)',
 'Lettuce (1 head) (USD)',
 'Water (1.5 liter bottle, at the market) (USD)',
 'Bottle of Wine (Mid-Range, at the market) (USD)',
 'Domestic Beer (0.5 liter bottle, at the market) (USD)',
 'Imported Beer (0.33 liter bottle, at the market) (USD)',
 'Cigarettes 20 Pack (Marlboro) (USD)',
 'One-way Ticket (Local Transport) (USD)',
 'Monthly Pass (Regular Price) (USD)',
 'Taxi Start (Normal Tariff) (USD)',
 'Taxi 1km (Normal Tariff) (USD)',
 'Taxi 1hour Waiting (Normal Tariff) (USD)',
 'Gasoline (1 liter) (USD)',
 'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)',
 'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)',
 'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)',
 '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)',
 'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)',
 'Fitness Club, Monthly Fee for 1 Adult (USD)',
 'Tennis Court Rent (1 Hour on Weekend) (USD)',
 'Cinema, International Release, 1 Seat (USD)',
 'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)',
 'International Primary School, Yearly for 1 Child (USD)',
 '1 Pair of Jeans (Levis 501 Or Similar) (USD)',
 '1 Summer Dress in a Chain Store (Zara, H&M, …) (USD)',
 '1 Pair of Nike Running Shoes (Mid-Range) (USD)',
 '1 Pair of Men Leather Business Shoes (USD)',
 'Apartment (1 bedroom) in City Centre (USD)',
 'Apartment (1 bedroom) Outside of Centre (USD)',
 'Apartment (3 bedrooms) in City Centre (USD)',
 'Apartment (3 bedrooms) Outside of Centre (USD)',
 'Price per Square Meter to Buy Apartment in City Centre (USD)',
 'Price per Square Meter to Buy Apartment Outside of Centre (USD)',
 'Average Monthly Net Salary (After Tax) (USD)',
 'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
 '0 if Numbeo considers that more contributors are needed to increase data quality, else 1']

In [139]:
len(col)

58

In [58]:
len(y)

59

In [148]:
data=pd.read_csv('cost-of-living.csv',names=col)
data.head()

,city,country,"Meal, Inexpensive Restaurant (USD)","Meal for 2 People, Mid-range Restaurant, Three-course (USD)",McMeal at McDonalds (or Equivalent Combo Meal) (USD),"Domestic Beer (0.5 liter draught, in restaurants) (USD)","Imported Beer (0.33 liter bottle, in restaurants) (USD)","Cappuccino (regular, in restaurants) (USD)","Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)","Water (0.33 liter bottle, in restaurants) (USD)",...,1 Pair of Men Leather Business Shoes (USD),Apartment (1 bedroom) in City Centre (USD),Apartment (1 bedroom) Outside of Centre (USD),Apartment (3 bedrooms) in City Centre (USD),Apartment (3 bedrooms) Outside of Centre (USD),Price per Square Meter to Buy Apartment in City Centre (USD),Price per Square Meter to Buy Apartment Outside of Centre (USD),Average Monthly Net Salary (After Tax) (USD),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate","0 if Numbeo considers that more contributors are needed to increase data quality, else 1"
NaN,city,country,x1,x2,x3,x4,x5,x6,x7,x8,...,x47,x48,x49,x50,x51,x52,x53,x54,x55,data_quality
0.0,Delhi,India,4.9,22.04,4.28,1.84,3.67,1.78,0.48,0.19,...,36.26,223.87,133.38,596.16,325.82,2619.46,1068.9,586.35,7.96,1
1.0,Shanghai,China,5.59,40.51,5.59,1.12,4.19,3.96,0.52,0.32,...,121.19,1080.07,564.3,2972.57,1532.23,17333.09,9174.88,1382.83,5.01,1
2.0,Jakarta,Indonesia,2.54,22.25,3.5,2.02,3.18,2.19,0.59,0.27,...,80.32,482.85,270.15,1117.69,584.37,2694.05,1269.44,483.19,9.15,1
3.0,Manila,Philippines,3.54,27.4,3.54,1.24,1.9,2.91,0.93,0.51,...,61.82,559.52,281.78,1754.4,684.81,3536.04,2596.44,419.02,7.8,1

In [154]:
data.index[0]

nan

In [156]:
data.drop(data.index[0]).to_csv('Livin Index.csv',index=None)