In [1]:
import numpy as np
import pandas as pd

# set random seed for reproducibility
np.random.seed(123)

# generate simulated data for age at diagnosis and HbA1c levels
n_samples = 100000
age = np.random.normal(loc=6, scale=2, size=n_samples)
hba1c = np.random.normal(loc=7, scale=1, size=n_samples)

# generate simulated data for genetic information and family history
genetic_info = np.random.choice(['Mutation', 'No mutation'], size=n_samples, p=[0.2, 0.8])
family_history = np.random.choice(['Yes', 'No'], size=n_samples, p=[0.1, 0.9])

# generate simulated data for clinical features and laboratory data
birth_weight = np.random.normal(loc=2.8, scale=0.5, size=n_samples)
developmental_delay = np.random.choice(['Yes', 'No'], size=n_samples, p=[0.15, 0.85])
insulin_level = np.random.normal(loc=5, scale=2, size=n_samples)

# create a dataframe to store the data
data = pd.DataFrame({'Age': age, 'HbA1c': hba1c, 'Genetic Info': genetic_info, 'Family History': family_history, 'Birth Weight': birth_weight, 'Developmental Delay': developmental_delay, 'Insulin Level': insulin_level})

# add a column for PNDM diagnosis based on a combination of features
threshold_age = 5
threshold_hba1c = 9
data['PNDM'] = np.where(((data['Age'] < threshold_age) & (data['Genetic Info'] == 'Mutation') & (data['Birth Weight'] < 3)) | ((data['HbA1c'] > threshold_hba1c) & (data['Family History'] == 'Yes') & (data['Developmental Delay'] == 'Yes') & (data['Insulin Level'] > 6)), 1, 0)

# display the first few rows of the data
print(data.head())

        Age     HbA1c Genetic Info Family History  Birth Weight  \
0  3.828739  7.739463  No mutation             No      2.413360
1  7.994691  7.256589  No mutation             No      2.464051
2  6.565957  5.877747  No mutation             No      3.254907
3  2.987411  4.855675  No mutation             No      3.814540
4  4.842799  6.433162  No mutation             No      3.229332

  Developmental Delay  Insulin Level  PNDM
0                  No       6.581613     0
1                  No       3.509225     0
2                  No       5.629881     0
3                  No      -0.951440     0
4                  No       5.447897     0

In [ ]:
data.to_csv('PNDB.csv',header=)

In [1]:
# !pip install barnum
# !pip install randomname

In [2]:
# dir(barnum),dir(rm)
# barnum.create_city_state_zip(zip_code=None)[1] #Get city name
# print('adjective categories:', randomname.ADJECTIVES) #Print Available adj
# print('noun categories:', randomname.NOUNS) #Print available nouns

In [3]:
# import randomname

# # generate name using all categories
# # name = randomname.get_name()
# # or specify a subset of the categories
# name = randomname.get_name( noun=( 'wine'))
# # # or - you can take a bit more liberty about
# # name = randomname.generate(
# #     'v/fire', 'adj/music_theory', ('n/cats', 'n/food'))

# # # these contain the available groups
# # print('adjective categories:', randomname.ADJECTIVES)
# # print('noun categories:', randomname.NOUNS)

# print(name)

In [4]:
import barnum
import randomname as rm

import pandas as pd
import numpy as np

In [5]:
x={
    "Sales":np.random.randint(500,2000,10000),
    "Product":[rm.get_name( noun=( 'wine')) for i in range (10000)],
   'District':[barnum.create_city_state_zip(zip_code=None)[1] for i in range(10000)],
   'Date':[barnum.create_date() for i in range(10000)]
  }

df=pd.DataFrame(x)
df.head()

   Sales             Product     District                       Date
0    514         aged-chinon  Branchville 2027-05-23 21:34:58.640361
1   1693      spry-champagne   Charleston 2024-03-26 21:34:58.640361
2   1026      local-marsanne        Boise 2023-10-02 21:34:58.640361
3    763  rounded-chardonnay    Pensacola 2027-07-21 21:34:58.640361
4    950    taxonomic-muscat   Round Rock 2024-08-02 21:34:58.640361

In [6]:
df2=df.set_index(pd.DatetimeIndex(df['Date'])).drop('Date',axis=1).sort_index()
df2.head()

                            Sales             Product      District
Date
2022-10-11 21:34:58.671609    571      pointed-arneis        Belton
2022-10-11 21:34:58.671609   1840   dichotomic-muscat      Palatine
2022-10-12 21:34:58.671609   1124       corn-burgundy          Wren
2022-10-14 21:34:58.655987   1854  achromatic-auslese  Bakers Mills
2022-10-14 21:34:58.655987   1122     optimal-chianti       Sanford